# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
node_modules
.pnp
.pnp.js
package-lock.json
yarn.lock
.cache

# testing
coverage

# production
/build/


# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.now
.idea
.yarn.lock
storybook-static
/dist/
